VisualElement {
}

.title {
    color: rgb(255, 255, 255);
}

.credits {
    white-space: normal;
    position: absolute;
    width: 1549px;
}

.creditContainer {
    position: absolute;
    top: 23%;
    right: 11%;
    bottom: 14%;
    left: 11%;
    overflow: hidden;
}
